.f-18 {
  font-size: 1.8rem!important;
}

.f-22 {
  font-size: 2.2rem!important;
}


.f-20 {
  font-size: 2rem!important;
}

.f-16 {
  font-size: 1.6rem!important;
}

.f-14 {
  font-size: 1.4rem!important;
}

.f-12 {
  font-size: 1.2rem!important;
}
.light {
  font-weight: 300;
}
.block-center-between {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}
.block-between {
  @include flexbox;
  @include justify-content(space-between);
}
.block-center {
  @include flexbox;
  @include align-items(center);
}


.green {
  background: $app-green!important;
  color: $green!important;
}
.grey {
  background: $app-grey!important;
  color:$gray-900!important;
}
.yellow {
  background: $app-yellow!important;
  color: $yellow!important;
}
.red {
  background: $app-red!important;
  color: $red!important;
}
.blue {
  background: $app-blue!important;
  color: $blue!important;
}
.light-blue {
  background: $app-light-blue!important;
  color: $teal!important;
}
.text-black {
  color: $headings-color!important;
}
.text-inherit {
  color: $gray-900!important;
}
.img-thumbnail {
  border-radius: 4px;
}
.text-blue {
  color: $blue!important;
}
.text-red {
  color: $red!important;
}
.text-yellow {
  color: $yellow!important;
}
.text-green {
  color: $green!important;
}
.text-light-blue {
  color: $teal!important;
}

.tag {
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
}

.font-weight-black {
  font-weight: 900;
}
