.btn-light {
  color: $blue
}
.btn {
  //font-size: 1.4rem;
  box-shadow: none!important;
  &.d-block {
    width: 100%;
  }
  &.active {
    color: white;
    background: $blue;
    border-color: $blue;
  }
  &[disabled],.disabled {
    background: #f6f6f6;
    border-color: #f6f6f6;
    color: $gray-900;
  }
  &:hover {
    background: $hover-color!important;
    border-color: $hover-color!important;
    color: white!important;
  }
  &:active{
    color: $blue!important;
    background: $app-blue!important;
    border-color: $app-blue!important;
  }
}
.btn-lg {
  border-radius: $border-radius;
  font-size: 1.4rem;
  padding: 11px 20px;
}

.btn-outline {
  color: inherit;
  background: none;
  border: 1px solid #ECECF2;
  border-radius: $border-radius;
  height: 36px;
  min-width: 36px;
  line-height: 1;
  box-shadow: none!important;
  & + .btn-outline {
    margin-left: 10px;
  }
  &--sm {
    border-radius: 6px;
  }
  &.medium{
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
.btn-outline-secondary {
  border: 1px solid #ECECF2;
  color: inherit;
}

.btn-outline-primary {
  &:hover {
    background: white!important;
    border-color: $primary!important;
    color: $headings-color!important;
  }
  &:active {
    background: white!important;
    border-color: #ececf2!important;
    color: $body-color!important;
  }
}

.btn-icon {
  text-align: center;
  padding:0;
  cursor: pointer;
  border: none;
  outline: none!important;
  background: none;
  box-shadow: none;
  display: inline-flex;
  @include justify-content(center);
  @include align-items(center);
  font-size: inherit;
  &--medium {
    width: 56px;
    height:  56px;
    border-radius: 10px;
  }
  &--small {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    &.xs {
      width: 42px;
      height: 42px;
      line-height: 42px;
    }
    &:after {
      display: none;
    }
  }
}
