.card {
  margin-bottom: 14px;
  text-align: center;
  border-radius: 12px;
  //border: 1px solid #eeeeee;
  box-shadow: none;
  &__avatar {
    margin-bottom: 10px;

    img {
      border-radius: 8px;
      max-width: 66px;
    }
  }
  &__name {
    margin: 0 0;
  }
  &__price {
    padding: 8px 10px;
    background: $gray-800;
    border-radius: 8px;
    float: right;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -5px;
    & + * {
      clear: both;
    }
  }
  &__progress {
    color: $headings-color;
    padding: 20px 0;
    .progress {
      margin-top: 5px;
    }
  }
  &__progress-percent {
    font-weight: bold;
  }

}

.card-body {
  padding: 16px;
}

.card-footer {
  background: none;
  padding: 0;
  .btn {
    font-weight: 900;
    text-transform: uppercase;
    color: $headings-color;
    font-size: 12px;
    width: 50%;
    background: none;
    border-radius: 0;
    padding:16px 15px;
    border: none;
    border-right: 1px solid $card-border-color;
  }


  i {
    margin-right: 5px;
    font-size: 18px;

  }
}
