
.filter {
  background: rgba(245,245,250,0.4);
  margin: 0 -25px 12px;
  @include max-767 {
    margin: 0 0px 12px;
  }
  font-size: 12px;
  font-weight: bold;
  padding: 0 13px;
  &__row {
    padding: 15px 12px 15px 12px!important;
    i {
      font-size: 14px;
    }

  }
  &__select {
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    margin-left: 5px;
  }
}

.filter-top {
  margin: 0 0 20px;
  @include max-767 {
    display: block;
  }
}
