
label {
  font-size: inherit;
  color: inherit;
  margin: 0 0 10px;
}

.form-group {
  margin-bottom: 30px;
  &__icon {
    position: relative;
    &.left {
      i {
        right: auto;
        left:0;
      }
      input {
        padding-left: 30px;
      }
    }
    input {
      padding-right: 30px;
      &:focus {
        & + i {
          color: #1c1d21;
        }
      }

    }
    i {
      font-size: 20px;
      right: 0px;
      position: absolute;
      top: 50%;@include translateY(-50%);

    }
  }
  &.has-error {
    input {
      padding-left: 0;
    }
    .la-info-circle {
      left: auto;
      right:0;
    }
  }
  &.has-valid {
    input {
      padding-left: 0;
    }
    .la-check {
      left: auto;
      right:0;
    }
  }
}
.form-control {
  padding:10px 0;
  border: none;
  border-bottom: 1px solid $input-border-color;
  box-shadow: none!important;
  @include placeholder(#8181A5);
  &.no-border {
    border: none!important;
  }
  &.is-invalid {
    border-color: $red;
  }
  &.is-valid {
    border-color: $green;
  }

}
.upload {
  position: relative;
  cursor: pointer;
  &__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 30px;
  }
  &__label {
    margin-left: 5px;
  }
}
.checkbox,.radio {
  margin:0;
  @include checkbox();
}
.radio {
  margin:0;
  @include radio()
}



