
label {
  font-size: inherit;
  color: inherit;
  margin: 0 0 10px;
}

.form-group {
  margin-bottom: 30px;
}
.form-control {
  padding:10px 0;
  border: none;
  border-bottom: 1px solid $input-border-color;
  box-shadow: none!important;
  &.no-border {
    border: none!important;
  }
}
.upload {
  position: relative;
  cursor: pointer;
  &__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 30px;
  }
  &__label {
    margin-left: 5px;
  }
}
.checkbox {
  margin:0;
  @include checkbox();
}
