.empty-content {
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 100px);
  &__img {

    margin-bottom: 40px;
    @include min-768 {
      max-width: 540px;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__btn {
    margin-top: 35px;
    min-width: 178px;
  }
}
