.progress {
  border-radius: 3px;
  background: #F6F6F6;
  height: 4px;
  &--red {
    .progress-bar {
      background: $red;
    }
  }
  &--yellow {
    .progress-bar {
      background: $yellow
    }
  }
  &--green {
    .progress-bar {
      background: $green;
    }
  }
}

.progress-bar {

}
