.wrapper {
  &__left {
    @include flexbox;

    background: white;
  }
  &__left-bar {
    width: 80px;
    padding: 20px 18px;
    text-align: center;
    background: white;
    border-right: 1px solid #f0f0f3;
    min-height: 100vh;
  }
  &__left-content {
    padding: 30px;
    width: 390px;
  }
  &__right {
    @include flex(1);

  }

}

.content {
  margin: 25px;
  border-radius: 12px;
  padding: 25px;
  background: white;
  &__top {
    margin: 22px 25px;
  }
}

.row {
  &--sm {
    margin-left: -7px;
    margin-right: -7px;
    > div {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
}
